Creating function to read Scooter_Availability csv and Centerline ID csv and create a new dataframe
of Scooter Availability which includes locations' zip codes

In [1]:
# Dependencies
import pandas as pd

In [2]:
#Read CSVs
centerline_df = pd.read_csv("Centerline_to_Zipcode.csv")

scooter_df = pd.read_csv("Scooter_Availability.csv")

poverty_df = pd.read_csv("poverty_type.csv")

In [3]:
centerline_zipcode = pd.DataFrame(centerline_df[['GBSID', 'ZIP5_L']])

In [4]:
#Reclassify Zipcode columns as string fields
scooter_df['ClosestCenterlineID'] = scooter_df['ClosestCenterlineID'].astype(str)
centerline_zipcode['GBSID'] = centerline_zipcode['GBSID'].astype(str)
centerline_zipcode['ZIP5_L'] = centerline_zipcode['ZIP5_L'].astype(str)
poverty_df['Zipcode'] = poverty_df['Zipcode'].astype(str)

In [5]:
#Create new dataframe from scooter_df and its corresponding Zipcode column Merging on 'CenterlineID' (named 'GBSID' in Minneapolis GIS dataset). 
scooter_zipcode_df = pd.merge(scooter_df, centerline_zipcode, left_on='ClosestCenterlineID', right_on = 'GBSID', how="left")

In [6]:
scooter_zipcode_df.head()

,PollTime,CompanyName,NumberAvailable,ClosestCenterlineID,ClosestCenterlineType,Neighborhood,ESRI_OID,GBSID,ZIP5_L
0,2019-05-18T11:00:00.000Z,Lime,1,10919,street,Bottineau,2001,10919,55418
1,2019-05-18T11:00:00.000Z,Lime,2,11310,street,Holland,2002,11310,55418
2,2019-05-18T11:00:00.000Z,Lime,1,14883,street,Hawthorne,2003,14883,55411
3,2019-05-18T11:00:00.000Z,Lime,3,15822,street,Harrison,2004,15822,55405
4,2019-05-18T11:00:00.000Z,Lime,1,16236,street,Downtown West,2005,16236,55401

In [7]:
#(Temporary use)Create list of zip codes for Census_API program
#zip_list = scooter_zipcode_df['ZIP5_L'].unique()

In [8]:
scooter_zipcode_df = scooter_zipcode_df[['PollTime', 'CompanyName', 'NumberAvailable', 'ClosestCenterlineID', 
                                        'Neighborhood', 'ZIP5_L']]

scooter_zipcode_df = scooter_zipcode_df.rename(columns = {'ZIP5_L':'Zipcode'})
scooter_zipcode_df.head()

,PollTime,CompanyName,NumberAvailable,ClosestCenterlineID,Neighborhood,Zipcode
0,2019-05-18T11:00:00.000Z,Lime,1,10919,Bottineau,55418
1,2019-05-18T11:00:00.000Z,Lime,2,11310,Holland,55418
2,2019-05-18T11:00:00.000Z,Lime,1,14883,Hawthorne,55411
3,2019-05-18T11:00:00.000Z,Lime,3,15822,Harrison,55405
4,2019-05-18T11:00:00.000Z,Lime,1,16236,Downtown West,55401

In [9]:
#Merge poverty type onto dataframe
scooter_zipcode_df = pd.merge(scooter_zipcode_df, poverty_df, on = 'Zipcode',  how="left")

scooter_zipcode_df.head(20)

,PollTime,CompanyName,NumberAvailable,ClosestCenterlineID,Neighborhood,Zipcode,Poverty Rate,Poverty Type
0,2019-05-18T11:00:00.000Z,Lime,1,10919,Bottineau,55418,12.748436,High
1,2019-05-18T11:00:00.000Z,Lime,2,11310,Holland,55418,12.748436,High
2,2019-05-18T11:00:00.000Z,Lime,1,14883,Hawthorne,55411,31.316104,Downtown
3,2019-05-18T11:00:00.000Z,Lime,3,15822,Harrison,55405,14.252629,Downtown
4,2019-05-18T11:00:00.000Z,Lime,1,16236,Downtown West,55401,14.219141,Downtown
5,2019-05-18T11:00:00.000Z,Lime,2,16286,Lyndale,55408,15.597356,High
6,2019-05-18T11:00:00.000Z,Lime,1,16598,Marcy Holmes,55414,39.568475,High
7,2019-05-18T11:00:00.000Z,Lime,1,16615,Downtown West,55403,22.433973,Downtown
8,2019-05-18T11:00:00.000Z,Lime,1,16659,Loring Park,55403,22.433973,Downtown
9,2019-05-18T11:00:00.000Z,Lime,6,16851,Lyndale,55408,15.597356,High
10,2019-05-18T11:00:00.000Z,Lime,1,16911,North Loop,55401,14.219141,Downtown
11,2019-05-18T11:00:00.000Z,Lime,2,17112,Downtown West,55401,14.219141,Downtown
12,2019-05-18T11:00:00.000Z,Lime,1,17249,Downtown West,55402,39.466667,Downtown
13,2019-05-18T11:00:00.000Z,Lime,1,17423,Downtown West,55402,39.466667,Downtown
14,2019-05-18T11:00:00.000Z,Lime,1,17470,Marcy Holmes,55414,39.568475,High
15,2019-05-18T11:00:00.000Z,Lime,2,17493,ECCO,55408,15.597356,High
16,2019-05-18T11:00:00.000Z,Lime,1,18594,Elliot Park,55415,16.801854,Downtown
17,2019-05-18T11:00:00.000Z,Lime,3,18616,Downtown West,55401,14.219141,Downtown
18,2019-05-18T11:00:00.000Z,Lime,1,19287,Seward,55404,34.831260,Downtown
19,2019-05-18T11:00:00.000Z,Lime,1,20393,Cedar - Isles - Dean,55408,15.597356,High

In [10]:
#Save new df to CSV
   # Note to avoid any issues later, use encoding="utf-8"
scooter_zipcode_df.to_csv("scooter_complete.csv", encoding="utf-8", index=False)