In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data_complete = pd.read_csv("Scooter_df_HrsAndDays.csv")

In [3]:
print(len(data_complete))
data_complete.head()

381426

,Unnamed: 0,PollTime,CompanyName,NumberAvailable,Zipcode,Poverty Rate,Poverty Type,Hour,Day,Month
0,0,2019-05-18 11:00:00+00:00,Lime,1,55418.0,12.748436,High,6,18,5
1,1,2019-05-18 11:00:00+00:00,Lime,2,55418.0,12.748436,High,6,18,5
2,2,2019-05-18 11:00:00+00:00,Lime,1,55411.0,31.316104,Downtown,6,18,5
3,3,2019-05-18 11:00:00+00:00,Lime,3,55405.0,14.252629,Downtown,6,18,5
4,4,2019-05-18 11:00:00+00:00,Lime,1,55401.0,14.219141,Downtown,6,18,5

In [ ]:
what_time = data_complete['Hour'] == 6

data_morning = data_complete[what_time]

p_type =  data_complete['Poverty Type'] == 'Low'
    
data_sub = data_morning[p_type]


print(len(data_sub))

data_sub.head()

In [ ]:
#s.str.cat(['A', 'B', 'C', 'D'], sep=',')

In [ ]:
data_sub_gr = data_sub.groupby(["Month", "Day"])
data_morning_gr = data_morning.groupby(["Month", "Day"])

totals = data_sub_gr['NumberAvailable'].sum()

overall = data_morning_gr['NumberAvailable'].sum()

percent = (totals.values / overall.values)*100

#print(overall)
print(percent)
y_value = percent


x_ = 0
x_value = []

for i in range(len(y_value)):
    
    x_value.append(x_)
    x_ += 1

In [ ]:
data_morn_gr = data_morning.groupby(["Month", "Day"])


data_morn_gr.count()

In [ ]:
fig, ax = plt.subplots()

fig.suptitle("Number of Scooters Available  at 6 AM in High Poverty Areas", fontsize=16, fontweight="bold")

ax.set_xlim(0, len(totals))
ax.set_ylim(0, y_value.max())
ax.set_xlabel("Days (May through August)")
ax.set_ylabel("Number of Scooter")

ax.plot(x_value, y_value, linewidth=0.5)


plt.show()